@model EShop.Models.ViewModels.ProductPagingFilteringViewModel

<form action="" method="get">
    @if (!string.IsNullOrEmpty(Model.SearchString))
    {
        <input name="searchString" id="searchString" type="hidden" value="" />
    }
    @if (Model.CategoryId != 0)
    {
        <input name="categoryId" id="categoryId" type="hidden" value="" />

    }
    <select class="mr-2 form-control" name="sortOrder" id="sortOrder" asp-for="@Model.SortOrder">
        <option value="name">A -> Z</option>
        <option value="name_desc">Z -> A</option>
        <option value="date">Mới nhất</option>
        <option value="date_desc">Cũ nhất</option>
        <option value="price">Giá tăng dần</option>
        <option value="price_desc">Giá giảm dần</option>
    </select>
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-regular fa-filter"></i>
    </button>
</form>
