@model EShop.ViewModels.ChangePasswordViewModel
@{
    Layout = "_ProfileLayout";
}

<div class="card">
    <div class="card-body">
        <form class="row" asp-action="ChangePassword" method="post">
            <div class="col-md-9">
                <div class="form-row">
                    <div class="col form-group">
                        <label>Mật khẩu cũ</label>
                        <input type="password" asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div> <!-- form-group end.// -->
                    <div class="col form-group">
                        <label>Mật khẩu mới</label>
                        <input type="password" asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-row">
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->

                <button class="btn btn-primary" type="submit">Change Password</button>

                <br><br><br><br><br><br>

            </div> <!-- col.// -->
        </form>
    </div> <!-- card-body.// -->
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}